<h1>Estos son los usuarios que existen hasta el momento</h1>
{{!-- {{#if isAdmin}}
    {{#each usersFiltered}}
        <p>
            Usuario seleccionado:
            Nombre: {{this.firstName}}
            Apellido: {{this.lastName}}
            Género: {{this.genero}}
        </p>
    {{/each}}
{{else}}
    <p>No se pudo cargar la pagina</p>
{{/if}} --}}


        <p>
            Usuario seleccionado:
            Nombre: {{user.firstName}}
            Apellido: {{user.lastName}}
            Género: {{user.gender}}
        </p>